.drag-drop {
  display: block;
}

#draggable {
  width: 100px;
  height: 100px;
  padding: 1em;
  float: left;
  margin: 10px 10px 10px 0;
}
#droppable {
  width: 150px;
  height: 150px;
  padding: 1.5em;
  float: left;
  margin: 10px;
}

.sort {
  display: block !important;
  margin-top: 300px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#sortable li {
  margin: 0 3px 1px 3px;
  padding: 1em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: bisque;
  height: 18px;
}
#sortable li span {
  margin-left: -1.3em;
}

#menu {
  width: 150px;
}

.toggler { 
  width: 500px; 
  height: 200px; 
  position: relative; 
}

#button { 
  padding: .5em 1em; 
  text-decoration: none; 
}

#effect { 
  width: 240px; 
  height: 170px; 
  padding: 0.4em; 
  position: relative; 
  background: #fff; 
}
#effect h3 { 
  margin: 0; 
  padding: 0.4em; 
  text-align: center; 
}
